html,
body,
.app {
  height: 100vh;
  /* background: #fff5ee; */
  padding: 1em;
}

.signUp__color {
  color: #b0c4de;
}

.signIn__color {
  color: #ffdab9;
}

/* .main__tweet {
  height: 100vh;
  overflow-y: scroll;
} */

.tweet__form {
  /* position: fixed !important;
  margin-left: 150px;
  margin-top: 0;
  left: 0;
  right: 1rem;   */
  z-index: 10;
}
