html,
body,
.app {
  height: 100vh;
  font-size: 16px;
}

.signUp__color {
  color: #b0c4de;
}

.signIn__color {
  color: #ffdab9;
}

.tweet__form {
  z-index: 10;
  position: relative;
}

.tweet__list {
  position: relative;
  padding: 0;
}

.tweet__item {
  margin: 20px 0;
}

.tweet__delete {
  position: absolute;
  top: 20px;
  right: 10px;
}

.form__btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.chat__style {
  font-size: 18px;
}

.react-calendar__month-view__days__day--weekend {
  color: blue;
}

.Sample {
  width: 80%;
}

.fixed_item {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.fixed_btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 6px 40px;
}

.scroll__top {
  position: fixed;
  display: block;
  right: 50px;
  bottom: 50px;
  background: #313131;
  color: #fff;
  padding: 20px;
}
